---
const pathname = Astro.url.pathname
import logo from '@/assets/images/logo.webp'
import CoffeeHub from '@/components/coffee-hub.astro'
import {lastChar} from '@/lib/utils';
import {navbarItem} from '@/data/navbar'

---

<nav class="sticky shadow-md p-3 md:px-6 background-shadow">
    <div class="flex justify-between items-center">
        <a href="/" class="cursor-pointer flex gap-3 items-center">
            <div class="h-[50px] w-[50px] md:h-[60px] md:w-[60px] ">
                <img alt="logo" class="rounded-full" src={logo.src} />
            </div>
            <div>
                <CoffeeHub/>
            </div>
        </a>
        <div class="flex gap-3 md:gap-6">
            {
                navbarItem.map(item=>{
                    let itemLink = item.link;
                    let urlPathname = pathname;
                    // remove last of url "/"
                    if(lastChar(item.link)==="/")itemLink=itemLink.slice(0,-1);
                    if(lastChar(pathname)==="/")urlPathname=urlPathname.slice(0,-1);

                    const isActive=itemLink===urlPathname?"underline decoration-primary decoration-4 scale-110":"";
                    return <a href={item.link} class={`${isActive} text-sm md:text-lg font-bold`}>{item.title}</a>
                })
            }
        </div>
    </div>
</nav>